.container-fluid{
  background: linear-gradient(to left, #95a2ee, #dde1e7);
  display:flex;    
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.crd{
  background: linear-gradient(to left, #818edb, #f02fe0); 
  height: 310px;
  box-shadow: 0 10px 8px  rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -20px;
  left: 0;
  width: 90%;
  margin-left: 5%;
}
.crd p{
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
}
#card-body1{
  margin-top:295px ;
}
.card-title{
  font-weight: bold;
}
.card-img-top1{
  height:310px;
  box-shadow: 0 10px 8px  rgba(0, 0, 0, 0.2);
}
.btn{
  background-color: blue;
  color: white;
}
.btn:hover{
  background-color: cornflowerblue;
}
.button{
  text-decoration: none;
  margin-top: 30px;
}
.button1{
  text-decoration: none;
  color: darkblue;
}
.button:hover {
  color:rgb(8, 8, 10); 
}
.button1:hover{
    color: white;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #19191a;
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: system-ui, sans-serif;
}

.gallery {
    --_width: 50px;
    --_border-width: 3px;
    --_border-width-hover: 6px;
    --_border-clr: rgba(32, 142, 206,0.7);
    --_h2-bg-clr: rgba(32, 142, 206,0.9);
    --_h2-txt-clr: black;
    --_transition-speed: 300ms;
    --_clip: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    
    width: fit-content;
    max-width: 4xl;
    display: grid;
    grid-template-columns: repeat(10, var(--_width));
    gap: .75em;
}

.avatar {
    background-color: var(--_border-clr);
    display: block;
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    width: calc(var(--_width) * 3);
    height: calc(var(--_width) * 3);
    position: relative;
    overflow: hidden;
    isolation: isolate;
    clip-path: var(--_clip);
    transition: clip-path ease-in-out var(--_transition-speed) var(--_transition-speed),
        opacity ease-in-out var(--_transition-speed),
        scale ease-in-out var(--_transition-speed);
  
}


.avatar::before {
    content: '';
    position: absolute;
    inset: var(--_border-width);
    clip-path: var(--_clip);
    background-image: var(--img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--_transition-speed) ease-in-out;
    
}

.avatar::after{
    content: attr(title);
    position: absolute;
    width: 100%;
    padding: .25rem 0;
    text-align: center;
    inset: 85% 0 0 0;
    background: var(--_h2-bg-clr);
    color: var(--_h2-txt-clr);
    font-size: 0.6rem;
    transition: all var(--_transition-speed) ease-in-out ;
    opacity: 0;
    translate: 0 100%;
    z-index: 3;
}

.avatar:has(~ .avatar:hover),
.avatar:hover~.avatar {
    opacity: 75%;
    scale: 75%;
}
.avatar:hover {
    z-index: 100;
    scale: 150%;
}
.avatar:hover::before{
    inset: var(--_border-width-hover);
}
.avatar:hover::after{
    opacity: 1;
    translate: 0;
    transition-delay: calc(var(--_transition-speed) * 0.5);
}
.avatar:not(:hover) {
    animation: KPzIndexHack 500ms;
}
.avatar:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 5;
}
.avatar:nth-child(2) {
    grid-row-start: 3;
    grid-column-start: 3;
}
.avatar:nth-child(3) {
    grid-row-start: 3;
    grid-column-start: 7;
}
.avatar:nth-child(4) {
    grid-row-start: 5;
    grid-column-start: 1;
}
.avatar:nth-child(5) {
    grid-row-start: 5;
    grid-column-start: 5;
}
.avatar:nth-child(6) {
    grid-row-start: 5;
    grid-column-start: 9;
}
.avatar:nth-child(7) {
    grid-row-start: 7;
    grid-column-start: 3;
}
.avatar:nth-child(8) {
    grid-row-start: 7;
    grid-column-start: 7;
}
.avatar:nth-child(9) {
    grid-row-start: 9;
    grid-column-start: 1;
}
.avatar:nth-child(10) {
    grid-row-start: 9;
    grid-column-start: 5;
}
.avatar:nth-child(11) {
    grid-row-start: 9;
    grid-column-start: 9;
}
.avatar:nth-child(12) {
    grid-row-start: 11;
    grid-column-start: 3;
}
.avatar:nth-child(13) {
    grid-row-start: 11;
    grid-column-start: 7;
}
.avatar:nth-child(14) {
    grid-row-start: 13;
    grid-column-start: 5;
}
/* Kevin Powel z-index hack */
@keyframes KPzIndexHack {
    100% {
        z-index: 10;
    }
}

